!!!
%html{ lang: "en" }
  %head
    = partial "partials/head_contents"
  %body{ class: page_classes }
    = partial "partials/bg-image"
    .height
      .container
        .row
          .twelve.large-12.columns
            = partial "partials/logo"
        .row.wrap-nav
          .twelve.large-12.columns
            = partial "partials/nav/topbar"
        .row.wrap
          .nine.medium-9.columns.main-content-home.pad-0
            = yield
          .three.medium-3.columns.sidebar-right.home
            = partial "partials/sidebar/right-home"
      %footer.footer
        = partial "partials/footer"

    = partial "partials/js"